/* style.css
 * This file provides css styles.
 */

body, html {
	background-color: #3b4b54;
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.avatar {
	display: block;
	margin: 0 auto;
	max-width: 200px;
}

.fact {
	padding-top: 30px;
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;
	font-size: 1.2em;
}
